* {
    font-family: Helvetica, Lato, Open Sans, Roboto;
    color: grey;
    //border: 1px solid black;
}

body {
    margin: 0;
    padding: 0;
}

/******************************************************/
/***********************HEADER*************************/
/******************************************************/


header {
    height: 100px;
    width: 100%;

    -webkit-box-shadow: 0px 5px 22px 0px rgba(50, 50, 50, 0.57);
    -moz-box-shadow:    0px 5px 22px 0px rgba(50, 50, 50, 0.57);
    box-shadow:         0px 5px 22px 0px rgba(50, 50, 50, 0.57);
}

.header_content {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}

.logo {
    height: 60px;
    width: 60px;
}

.main_title {
    height: 60px;
    width: 300px;
}

.menu {
    width: 500px;
    margin: 60px auto;
    border: 1px solid black;
}

.menu ul {
    margin: 0;
    padding: 0;
    height: 20px;
}

.menu ul li {
    display: inline-block;
}

.menu ul li.separator {

}

.menu ul li:hover {

}

.menu ul li.active {

}

.menu ul li:first-child {

}

.menu ul li:last-child {

}

.main_container {
    width: 1000px;
    margin: 0 auto;
}
/******************************************************/
/***********************Page Main**********************/
/******************************************************/
.contact_gallery {

}

.contact_us {
    padding: 20px;
    width: 400px;
    height: 400px;
    background-color: rgb(121, 169, 147);
}

.gallery {
    padding: 20px;
    width: 600px;
    height: 400px;
}

.simple_portfolio {

}

/******************************************************/
/***********************FOOTER*************************/
/******************************************************/

footer {
    height: 100px;
    width: 100%;

    -webkit-box-shadow: 0px -10px 5px 0px rgba(50, 50, 50, 0.57);
    -moz-box-shadow:    0px -10px 5px 0px rgba(50, 50, 50, 0.57);
    box-shadow:         0px -10px 5px 0px rgba(50, 50, 50, 0.57);
}

.footer_content {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
}