<md-dialog aria-label="Sign In">
    <form ng-submit="submit();">
        <md-content class="md-padding">

            <md-input-container flex>
                <label>Email</label>
                <input ng-model="userEmail" name="email" required>
            </md-input-container>

            <md-input-container flex>
                <label>Pass</label>
                <input ng-model="userPass" type="password" name="pass" required>
            </md-input-container>

        </md-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">Cancel</md-button>
            <md-button ng-click="signin()" class="md-primary">Sign In</md-button>
        </div>
    </form>

</md-dialog>
