<div id="task">
    <md-subheader class="">Задача {{taskvc.state.data.task.title}}</md-subheader>
    <md-content flex>
        <md-tabs md-dynamic-height>

            <md-tab label="Обсуждение">
                <div layout-align="row" ng-repeat="message in taskvc.state.data.messages">

                </div>

                <md-input-container flex>
                    <label>Message</label>
                    <textarea ng-model="taskvc.state.newMessageData.text" columns="1" md-maxlength="150"></textarea>
                </md-input-container>
                <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="taskvc.onAddMessageToChat()">Add Message</md-button>

            </md-tab>

            <md-tab label="Файлы">
                <md-subheader>Файлы</md-subheader>
                <form name="files">
                    <div ngf-drop ng-model="taskvc.files"
                            style="position:relative;height:200px;width:400px;background-color:#ddd;">
                        DragAndDrop Here
                    </div>
                    <div layout-align="row">
                        <md-button class="md-raised md-primary md-button md-ink-ripple"
                                   ngf-select ng-model="taskvc.files" ngf-multiple="true">Add Files</md-button>
                        <md-button class="md-raised md-primary md-button md-ink-ripple" type="submit" ng-click="taskvc.onUploadFiles()">Загрузить</md-button>
                    </div>
                </form>

                <md-subheader>Модели</md-subheader>
                <div class="models_root"></div>
                <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="taskvc.onShowModelView()">Add Models</md-button>

                <md-subheader>Сцены</md-subheader>
            </md-tab>

            <md-tab label="Результаты">
                <md-subheader>Результаты</md-subheader>
            </md-tab>

        </md-tabs>
    </md-content>
</div>